@font-face {
    font-family: 'arialnarrow';
    src: url('../fonts/arialnb.eot');
    src: url('../fonts/arialnb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arialnb.woff2') format('woff2'),
         url('../fonts/arialnb.woff') format('woff'),
         url('../fonts/arialnb.ttf') format('truetype'),
         url('../fonts/arialnb.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;

}